/* ================================================== All Style ===> */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
}

@font-face {
    font-family: 'iranSans';
    src: url(../fonts/IRANSans.ttf) format('TrueType');
}

@font-face {
    font-family: 'iranSansBold';
    src: url(../fonts/IRAN\ Sans\ Bold.ttf) format('TrueType');
}

body {
    background: gray;
    font-family: iranSans;
    background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);

}

/* ================================================== Xs Size ===> */

.main {
    padding: 15px;
}

form {
    width: 100%;
    margin: 50px auto;
}

input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 50px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: fit-content;
    min-width: 100px;
    margin: 0 5px;
    transition: 0.2s;
}

.save {
    background: #5BB318;
    color: #fff;
}

.save:hover {
    background: #7DCE13;
}

.delete {
    background: #EB1D36;
    color: #fff;
}

.delete:hover {
    background: #F32424;
}

.counter {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

/* ================================================== Sm Size ===> */
/* ================================================== Md Size ===> */
/* ================================================== Lg Size ===> */

@media screen and (min-width:992px) {
    form {
        width: 80%;
    }
}

/* ================================================== Xl Size ===> */